*{
    margin: 0;outline: 0;padding: 0;
}
body{
    font-family: Arial;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.content{background: gray; width: 800px; margin:  0 auto;}
.maincontent{
    background: #dddddd;
    min-height: 500px;
    margin: 10px;
    padding: 5px 10px;
color: #000000}
.header,.footer{text-align: center;padding: 10px;background: gray;}
